
<div class="row">
  <div class="col-md-9">
  
    <table class="table table-hover">
     
      <tr>
        <th >Aylar</th>
        <th >Ocak</th>
        <th>Şubat</th>
        <th>Mart</th>
        <th>Nisan</th>
        <th>Mayıs</th>
        <th>Haziran</th>
        <th>Temmuz</th>
        <th>Ağustos</th>
        <th>Eylül</th>
        <th>Ekim</th>
        <th>Kasım</th>
        <th>Aralık</th>
      
      </tr> 
     
      <tr>
        <td>Maaş</td>
      </tr>
      <tr>
          <td>Faturalar</td>
      </tr>
      <tr>
          <td>Kira</td>
     </tr>
     <tr>
          <td>Yemek</td>
      </tr>
      <tr>
          <td>Toplam</td>
      </tr>
      <tr>
           <td>Genel Toplam</td>
      </tr>
    
      <tr *ngFor="let item of list" >
        <td>{{item.aylar}}</td>
        <td>{{item.maas}}</td>
        <td>{{item.fatura}}</td>
        <td>{{item.kira}}</td>
        <td>{{item.yemek}}</td>

      </tr>
    </table>
  </div>
  <div class="col- md-3"> 


      <form>
        
         
          <div class="btn-group">
          
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Yıl Seçiniz
                </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1990</a>
                  <a class="dropdown-item" href="#">2000</a>
                  <a class="dropdown-item" href="#">2010</a>
                  <a class="dropdown-item" href="#">2020</a>
                
              </div>
            </div>

          <div class="form-group">
            <label for="">Gelir</label>
            <input type="text" class="form-control" id=""  placeholder="">
           
          </div>
          <div class="form-group">
            <label for="">Gider</label>
            <input type="text" class="form-control" id="" placeholder="">
          </div>

          <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="submit" class="btn btn-outline-primary">Ekle</button>
        </div>

          <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button type="reset" class="btn btn-outline-primary">Sil</button>
            </div>
        </form>





      
        

  </div>
</div>
